:root {
  --clr-dark-bg: #131313;
  --clr-light-bg: #ffffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-out;
  /* border:1px solid red; */
}
/* utiliy class */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
/* utiliy class */

body {
  overflow-x: hidden;
  background: var(--clr-light-bg);
}
body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #6495ed50;
  border-radius: 1em;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #6495ed;
}
main {
  margin: 0.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
